/*
Author Name
Autohr Info Here
*/

/* ======Index=======

1.Home
2.About
3.Our Work
4.Contact
5.
=====================
*/


/* Global CSS */

body {
	font-family: 'Roboto Slab', serif;

}

.no-padding {
	padding: 0px;
}

.img-center {
	display: block;
	margin: 0 auto;
}

h1 {

}

h2 {


}
h3 {


}

p {
	font-size: 15px;

}


/*navigation section start*/
.menu {
	background-color: #edeff1;
	padding: 25px 0px;
}
.nav-link {
	color: #161616;
}

.js-scroll-trigger.active {
    background: #dd4b2b;
    color: #fff;
    border-radius: 14px;
    padding: 4px 11px!important;
}
/*Fusce at section start*/

.hero {
	background:url(../img/banner.png);
	background-size: cover;
    max-width: 100%;
}

.tittle {
    padding-top: 300px;
    padding-bottom: 50px;
    text-align: center;
}

.tittle h2 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}


.tittle p {
    color: #fff;
}

.food-menu {
	text-align: center;
}

.food-menu h2{
	color: #fff;
	margin: 10px 0px;
	
}

.food-menu p{
	color: #fff;
	
}

.btn {
    margin: 28px auto 56px;
    background: #fff;
    padding: 6px 20px;
    color: darkred;
    border-radius: 15px;
}
h2{
text-align: center;
}
p{
text-align: center;
}
.btn-one{
margin: 0 auto;
    display: block;
    background: #fff;
    border-radius: 15px;
    padding: 10px 30px;
    border: none;
}
.img-con{
	margin-top: 22px;
    margin-bottom: 20px;
}
.first{
	background-color: #1111;
    padding-top: 70px;
    padding-bottom: 65px;
}
.first img{


}
.second{
	background: url(../img/newsletter.png); 
	background-size: cover;
    display: block;
    background-repeat: no-repeat;
}
.second h2{
	color: white;
}
.second h5 {
	color: #ffff;
	font-size: 15px;
	text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.parent{
	position: relative;
}
.form-con{
	margin: 0 auto;
    display: block;
    background: #ffffff38;
    border-radius: 20px;
    padding: 10px 52px;
    border: 1px solid white;

}
.btn-two{
	   border-radius: 20px;
    padding: 10px 52px;
    background: white;
    border: 1px solid white;
}
.child{
	    position: absolute;
    top: 0px;
    left: 653px;
}
.four{
	background-color: white;
}
.btn-three{
	padding: 10px 47px;
    border-radius: 15px;
    background-color: #dd4b2b;
    border: none;
    color: white;
}
.hh2{
	color: black;
	font-size: 30px;
	text-align: left;
    padding-bottom: 25px;
    padding-top: 50px;
}
textarea {
	height: 100%;
    width: 100%;
}
.pp{
	text-align: left;
	padding-bottom: 25px;
}
.gap{
	padding-bottom: 30px;
}
.btn-four{
	padding: 10px 47px;
    border-radius: 15px;
    background-color: #4b4e73;
    border: none;
    color: white;
}
.five{
	background-color: #d75d0e;
	padding: 70px 0px;
}
nav{

}
nav ul{
	    list-style: none;
    color: white;
    text-align: center;
}
nav ul li{
	padding-bottom: 4px;
}
nav ul li a{
	
}
.final{
	background: url(../img/newsletter.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
}

.final p{
	    padding: 132px 0px;
	    color: white;
	    font-size: 18px;

}

@media (min-width: 320px) and (max-width: 768px) {
   .btn-two {
    border-radius: 20px;
    padding: 10px 30px;
    background: white;
    border: 1px solid white;
    left: 230px;
	}
	.form-con {
    margin: 0 auto;
    display: block;
    background: #ffffff38;
    border-radius: 20px;
    padding: 10px 52px;
    border: 1px solid white;
    }
    .tittle h2 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-top: -124px;
    }
    .first img{
    max-width: 80%;
    margin: 0 auto;
    display: block;

    /*}
    .hero {
    background: url(../img/banner.png);
    background-size: cover;
    max-width: 90%;
    }
    .second {
    background: url(../img/newsletter.png);
    background-size: cover;
    display: block;
    background-repeat: no-repeat;
    max-width: 90%;
    }
    .final {
    background: url(../img/newsletter.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    max-width: 90%;
    }   */
}